<ion-header>

  <ion-navbar>
    <ion-title>Lists</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p>Basic List</p>
  <ion-list>
    <button ion-item *ngFor="let item of items">{{item.label}}</button>
  </ion-list>

  <p>No Lines</p>
  <ion-list no-lines>
    <button ion-item *ngFor="let item of items">{{item.label}}</button>
  </ion-list>

  <p>Inset List</p>
  <ion-list inset>
    <button ion-item *ngFor="let item of items">{{item.label}}</button>
  </ion-list>

  <p>List Dividers</p>
  <ion-item-group>
    <ion-item-divider color="light">items</ion-item-divider>
    <ion-item *ngFor="let item of items">{{item.label}}</ion-item>
  </ion-item-group>

  <p>List Headers</p>
  <ion-list>
    <ion-list-header>Items</ion-list-header>
    <ion-item *ngFor="let item of items">{{item.label}}</ion-item>
  </ion-list>

  <p>Icon List</p>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon"></ion-icon> {{item.label}}
    </ion-item>
  </ion-list>

  <p>Avatar List</p>
  <ion-list>
    <ion-item>
      <ion-avatar item-left>
        <img src="assets/imgs/building.jpeg">
      </ion-avatar>
      <h2>Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, quam.</p>
    </ion-item>
  </ion-list>

  <p>Multi-line List</p>
  <ion-list>
    <ion-item>
      <ion-avatar item-left>
        <img src="assets/imgs/building.jpeg">
      </ion-avatar>
      <h2>Heading</h2>
      <h3>Sub heading</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, animi.</p>
    </ion-item>
  </ion-list>

  <p>Sliding List</p>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/imgs/building.jpeg">
        </ion-avatar>
        <h2>Heading</h2>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary">
          <ion-icon name="text"></ion-icon>
          Text
        </button>
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="seconday">
          <ion-icon name="mail"></ion-icon>
          Email
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <p>Thumbnail List</p>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/building.jpeg">
      </ion-thumbnail>
      <h2>Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, sequi?</p>
      <button ion-button clear item-right>View</button>
    </ion-item>
  </ion-list>

</ion-content>
