<ion-header>

  <ion-navbar>
    <ion-title>Cards</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-card>
    <ion-card-header>
      Basic Card
    </ion-card-header>
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptate soluta eligendi ullam porro enim ex ducimus accusantium facilis voluptatibus incidunt eum reprehenderit nisi, illum, possimus mollitia, vitae numquam fugiat!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Explore Nearby</ion-card-header>
    <ion-list>
      <button ion-item>
        <ion-icon name="cart" item-start></ion-icon>
        Shopping
      </button>
      <button ion-item>
        <ion-icon name="medical" item-start></ion-icon>
        Hospital
      </button>
      <button ion-item>
        <ion-icon name="cafe" item-start></ion-icon>
        Cafe
      </button>
      <button ion-item>
        <ion-icon name="paw" item-start></ion-icon>
        Dog Park
      </button>
      <button ion-item>
        <ion-icon name="planet" item-start></ion-icon>
        Space
      </button>
    </ion-list>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/building.jpeg" alt="Image">
    <ion-card-content>
      <ion-card-title>
        Lorem ipsum dolor sit amet.
      </ion-card-title>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita ab a recusandae in. Optio aperiam doloribus dignissimos tempore, recusandae fugiat!</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/building.jpeg" />
      </ion-avatar>
      <h2>Marty McFly</h2>
      <p>November 5, 1955</p>
    </ion-item>

    <img src="assets/imgs/building.jpeg" />

    <ion-card-content>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, ex.</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
