<ion-header>

  <ion-navbar>
    <ion-title>Buttons</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button>Default</button>
  <button ion-button color="secondary">Secondary</button>
  <button ion-button color="danger">Danger</button>
  <button ion-button color="dark">Dark</button>
  <button ion-button color="light">Dark</button>

  <hr>

  <button ion-button outline>Outline Button</button>
  <button ion-button clear>Clear Button</button>
  <button ion-button round>Round Button</button>
  <button ion-button block>Block Button</button>
  <button ion-button full>Full Button</button>

  <hr>

  <button ion-button small>Small Button</button>
  <button ion-button large>Large Button</button>
  
  <hr>

  <button ion-button icon-left>
    <ion-icon name="home"></ion-icon>
    Left Icon
  </button>

  <button ion-button icon-right>
    Right Icon
    <ion-icon name="home"></ion-icon>
  </button>

  <button ion-button icon-only>
    <ion-icon name="home"></ion-icon>
  </button>
  
</ion-content>
