<ion-header>

  <ion-navbar>
    <ion-title>Alerts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="openBasicAlert()"> Basic Alert</button>
  <button ion-button (click)="openPromptAlert()">Prompt Alert</button>
  <button ion-button (click)="openConfirmationAlert()">Confirmation Alert</button>
  <button ion-button (click)="openRadioAlert()">Radio Alert</button>
  <button ion-button (click)="openCheckboxAlert()">Checkbox Alert</button>
</ion-content>
